.header {
    padding: 5px;
    background-color: var(--mat-option-selected-state-label-text-color) !important;

    .logo {}

    .nav {
        float: right;

        .mdc-button {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}